*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Helvetica, Arial, Sans-serif;
}

background {
  background-color: #99CCEE;
}

.page{
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
  width: 100%;
  height: auto;
}

.page li {
  list-style-type: none;
}


.header {
  display: flex;
  width: 100%;
  height: 70px;
  padding: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #99CCEE;
  justify-content: space-between;
  align-items: center;
}

.box1 {
  display: flex;
  margin: 20px 0 0 10%;
  width: 80%;
  height: 70px;
  justify-content: center;
  align-items: bottom;

}

h3 {
  font-weight: normal;
  font-size: 20px;
  padding-left: 15px;
}

h4 {
  padding-left: -15px;
}

.coin_info {
  font-weight: bold;
  font-size: 25px;
  margin-left: -10px;
}

#githubLink {
  display: flex;
  color: black;
  text-decoration: none;
  bottom: 10px;
  position: fixed;
  align-items: center;
}


#sug_bar_list {
  margin-top: 15px;
  visibility: hidden;
  padding-left: 15px;
}

#sug_bar_list li {
  margin-left: 15
}

sug_bar li {
  margin-left: 10px;
}
